<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기 페이지</title>
</head>
<body>
    <h1>글쓰기 페이지</h1>
    <!-- form태그 : 데이터를 서버로 전송할때 사용하는 태그 -->
     <!-- method : get(주소창의 URL에 데이터를 담아 보내는 방식, 보안성이 낮음, 페이지 이동에 사용) -->
      <!-- method : post(데이터를 숨겨서 서버에 보내는 방식, 보안성 높음, 데이터를 저장,수정,삭제) -->
    <form method="POST">
        <!-- csrf : 사이트 간 요청 위조 방지 기능 -->
        {%csrf_token%} 
        <!-- input태그 : 데이터를 담는 공간을 만드는 태그, name을 이용하여 데이터를 꺼내는데 사용 -->
        제목<br><input type="text" name="postname"><br>
        내용<br><textarea rows="10" cols="50" name="contents"></textarea><br>
        <input type="file" name="mainphoto"><br>
        <input type="submit" value="글쓰기">
    </form>
</body>
</html>